$white: #ffffff;
$black: #000000;

$grey_1_title: #494F66;
$grey_2_paragraph: #676F8F;
$grey_3: #A3ABCC;
$gray_4: #C5CBE0;
$gray_5: #E4E8F7;
$gray_6: #F0F2FA;

$max_width_layout: 1184px;

// Responsive
$tablet: 968px;
$mobile: 600px;
$display_none: none;
$display_block: block;
$margin_container_desk: 120px;
$margin_container_tablet: 64px;
$margin_container_mobile: 32px;


// fuentes
$main-font: 'Lato', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;
$space-lg: 64px;
$space-xl: 128px;

// levels
$level-1: 10;
$level-2: 20;
$level-3: 30;

